.tricolor{
	color: orange;
	background-color: green;
}
.p1{
	color: orangered;
}
li{
	color: blueviolet;
}
body{
	background-color: lightblue;
}
h2{
	color: deeppink;
}
.big{
	
	font-size: 70px;
}